<!DOCTYPE html>
<html>
    <head>
    <base target="_top">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>

            <section class="containerCatalogoBase">
                <section class="titleCatalogo">
                    <span style="font-style: italic; color: #5a5a5a; font-weight: 400;">**Devuelve el movimiento debito, crédito o saldo de una cuenta contable para un tercero especifico entre una fecha inicial y final para la empresa seleccionada</span>
                </section>
                <section class="titleCatalogo" style="margin-bottom: 25px;">
                    <span>Selecciona el tipo de movimiento para consultar </span>
                </section>

                <div class="containerDocumento" style="margin-bottom: 10px;">
                    <label style="font-weight: 600; color: #5a5a5a; margin-right: 15px" for="tipoDocumento">Tipo de movimiento*: </label>
                    <select name="tipoDocumento" id="tipoDocumento" class="opcionDocumento">
                        <option value="" disabled selected>Selecciona</option>
                        <option value="MD">movimiento debito</option>
                        <option value="MC">movimiento crédito</option>
                        <option value="MS">movimiento saldo</option>
                    </select>
                </div>
                

                <section class="containerPaginacionDocumentos">
                    <div style="margin-bottom: 30px; margin-top: 15px; font-weight: 600; margin-left: 8px;">
                        <label for="fechaInicio"><strong>Fecha inicio*:</strong>
                            <input type="date" name="fechaInicio" id="fechaInicio" min="2022-01-01" value="">
                        </label>
                    </div>
                    <div style="margin-bottom: 30px; margin-top: 15px; font-weight: 600; margin-left: 95px;">
                        <label for="fechafin"><strong>Fecha final*:</strong>
                            <input type="date" name="fechafin" id="fechafin" min="2022-01-01" value="">
                        </label>
                    </div>
                </section>

                <section class="containerPaginacionDocumentos">
                    <div  style="margin-bottom: 30px; font-weight: 600; margin-left: 8px;">
                        <label for="identificacionTercero" style="font-size: 14px;"><strong>Identificación empresa*:</strong>
                            <input type="number" name="identificacionTercero" id="identificacionTercero" min="0"  placeholder="">
                        </label>
                    </div>
                    <div style="margin-bottom: 30px; font-weight: 600; margin-left: 25px;">
                        <label for="identificacionTercero">Identificación Tercero*:
                            <input type="number" name="identificacionTercero" id="identificacionTercero" min="0"  placeholder="">
                        </label>
                    </div>
                </section>

                <section class="titleCatalogo">
                    <span>Consulta la cuenta contable por numero o tipo</span>
                </section>

                <section class="containerFiltros" style="justify-content: flex-start; margin-left: 5px;">
                        <div class="optFiltro">
                            <label for="numeroCuenta">Código:
                                <input type="number" name="numeroCuenta" id="numeroCuenta" min="0" placeholder="Codigo">
                            </label>
                        </div>
                        <div class="optFiltro" style="margin-right: -15px">
                                <label style="font-weight: 600; color: #5a5a5a; margin-right: 15px;" for="naturalezaCuenta">Tipo: </label>
                                <select name="naturalezaCuenta" id="naturalezaCuenta" class="opcionDocumentoSaldo">
                                </select>
                        </div>
                            
                </section>

                <div style="width: 100%; padding-left: 7.5vw; margin-top: 2vh;" id="contenedorButtonConsulta">
                    <button type="button" class="btnConsultaInicial" id="buttonConsulta" onclick="consultaDataInicial()">Consultar</button>
                </div>

                <div class="mensajeErrorInicial">
                    <span style="padding-left: 10%;">Por favor, espera estamos consultando las cuentas activas disponibles</span>
                </div>

                <section class="optionAll">
                    <!-- <span style="margin-right: 5px;">Seleccionar todos</span>
                    <label class="switch">
                        <input type="checkbox" id="addAllCheckbox">
                        <span class="slider"></span>
                    </label> -->
                </section>
                <section class="containerCatalogo">
                    <table id="miTabla" class="tablaData">
        
                    </table>
                    
                </section>

                <section class="containerFiltrosSaldo" style="justify-content: flex-start; margin-left: 5px;">
                    <!-- <div class="optFiltroSaldo">
                        <label for="identificacionTercero">Identificación Tercero:
                            <input type="number" name="identificacionTercero" id="identificacionTercero" min="0"  placeholder="">
                        </label>
                    </div> -->
                    <div class="optFiltroSaldo" style="margin-right: -15px">
                        <label for="centroCostos">Centro Costos:
                            <input type="text" name="centroCostos" id="centroCostos" placeholder="">
                        </label>
                    </div>
                        
                </section>

                <section class="optionsData">
                    
                    <!-- <section>
                        <span class="optionsMore" style="margin-bottom: 5px;"><b>Como quieres importar la información</b></span>
                        <form id="selectionExitData" style="display: flex; flex-direction: column;">
                            <div class="optionsMore">
                                <input class="radio" type="radio" id="opcion1" name="option" value="listar" checked>
                                <label for="opcion1">Listar información en celda</label>
                            </div>
                            <div class="optionsMore" style="display: none;">
                                <input class="radio" type="radio" id="opcion2" name="option" value="menu">
                                <label for="opcion2">Crear menu desplegable</label>
                            </div>
                        </form>
                    </section> -->
                    <div class="mensajeErrorSinConsulta">
                        <span>Por favor, selecciona al menos una cuenta contable</span>
                    </div>
                    <button type="button" class="buttonImport" onclick="sendDataSelected()">Agregar</button>
                </section>
            </section>

            <div id="loading" class="loading">
                <div class="d-flex justify-content-center align-items-end">
                        <div class="spinner-grow" style="width: 1rem; height: 1rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                        <div class="spinner-grow " style="width: 2rem; height: 2em" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                        <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                </div>
                <p style=" margin-top: 3vh; font-weight: 600; color: #0d95f0;">Cargando datos</p>
            </div>
        
            <script>

                    var tabla = document.getElementById('miTabla');
                    var optionsExit = document.getElementsByName('option');
                    var optionChecked = document.querySelector('input[name="option"]:checked');
                    var contenedorGlobal = document.querySelector('.containerCatalogoBase');
                    var contenedorLoading = document.querySelector('.loading');
                    var containerBase = document.querySelector('.containerCatalogo');
                    var numeroCuenta = document.getElementById('numeroCuenta');
                    var selectNaturalezaCuenta = document.getElementById('naturalezaCuenta');
                    var containerAllSeleccion = document.querySelector('.optionAll');
                    var mensajeErrorSinConsulta = document.querySelector('.mensajeErrorSinConsulta');
                    var optionData = document.querySelector('.optionsData');
                    var containerFiltrosSaldo = document.querySelector('.containerFiltrosSaldo');
                    var btnConsulta = document.getElementById('contenedorButtonConsulta');
                    var mensajeErrorInicial = document.querySelector('.mensajeErrorInicial');
                    var selectOptionSend;
                    var selecciones = [];
                    var resulAll = [];

                    var tiposCuenta = [
                        { cod: 2, nombreTipo: 'Cuentas por Cobrar'},
                        { cod: 1, nombreTipo: 'Cuentas por Pagar'},
                        { cod: 3, nombreTipo: 'Bancos'},
                        { cod: 4, nombreTipo: 'Patrimonio'},
                        { cod: 5, nombreTipo: 'Gastos'},
                        { cod: 6, nombreTipo: 'Activos Fijos'},
                        { cod: 7, nombreTipo: 'Ingresos'},
                        { cod: 8, nombreTipo: 'Costos de Producción'},
                        { cod: 9, nombreTipo: 'Otros Activos'},
                        { cod: 11, nombreTipo: 'Otros Pasivos'},
                        { cod: 12, nombreTipo: 'Inventarios'},
                        { cod: 13, nombreTipo: 'Caja'},
                        { cod: 14, nombreTipo: 'Costos de Ventas'},
                        { cod: 17, nombreTipo: 'Cuentas de Orden Deudores'},
                        { cod: 18, nombreTipo: 'Cuentas de Orden Acreedores'},
                        { cod: 20, nombreTipo: 'Depreciación'},
                        { cod: 21, nombreTipo: 'Diferidos Activo'},
                        { cod: 22, nombreTipo: 'Descuentos y Devoluciones Ventas'},
                        { cod: 23, nombreTipo: 'Descuentos Condicionados'},
                        { cod: 24, nombreTipo: 'Costo Materia Prima'},
                        { cod: 25, nombreTipo: 'Costo Mano de Obra'},
                        { cod: 26, nombreTipo: 'Costos Indirectos de Fabricación'},
                        { cod: 27, nombreTipo: 'Costo Servicios Externos'},
                        { cod: 28, nombreTipo: 'Diferidos Pasivo'},
                        { cod: 29, nombreTipo: 'Presupuesto'},
                        { cod: 30, nombreTipo: 'Valores'},
                        { cod: 31, nombreTipo: 'Activos Intangibles'}, 
                    ];

                    contenedorGlobal.style.display = 'flex';
                    containerAllSeleccion.style.display = 'none';
                    mensajeErrorInicial.style.display = 'none';
                    containerBase.style.display = 'none';
                    contenedorLoading.style.display = 'none';
                    optionData.style.display = 'none';
                    containerFiltrosSaldo.style.display = 'none';


                    var optionSelecciona = document.createElement('option');
                        optionSelecciona.value = "";
                        optionSelecciona.text = "Selecciona";
                        optionSelecciona.disabled = true;
                        optionSelecciona.selected = true;
                        selectNaturalezaCuenta.insertBefore(optionSelecciona, selectNaturalezaCuenta.firstChild);

                    for (var i = 0; i < tiposCuenta.length; i++) {
                        var option = document.createElement('option');
                        option.value = tiposCuenta[i].nombreTipo;
                        option.text = tiposCuenta[i].nombreTipo;
                        selectNaturalezaCuenta.appendChild(option);
                    }

                    selectNaturalezaCuenta.addEventListener('change', function() {
                        numeroCuenta.value = null;
                        containerAllSeleccion.style.display = 'none';
                        containerBase.style.display = 'none';
                        optionData.style.display = 'none';
                        containerFiltrosSaldo.style.display = 'none';
                        btnConsulta.style.display = 'flex';

                    });

                    numeroCuenta.addEventListener('input', function(e) {
                        if(e.target.value){
                            selectNaturalezaCuenta.disabled = true;
                        }else{
                            selectNaturalezaCuenta.disabled = false;
                        }
                    });

                    function guardarValidacionInicial(){

                        if(numeroCuenta.value || selectNaturalezaCuenta.value){
                        
                        // mensajeError.style.display = 'none';
                        var seleccionCuentaSelect = {
                            categoriaDocumento: selectNaturalezaCuenta.value,
                            numeroCuenta: numeroCuenta.value,
                        };

                        google.script.run.guardarSeleccionGeneralCuenta(seleccionCuentaSelect);
                            return true;
                        }else{
                            return false;
                        }
                    }

                    numeroCuenta.onchange = guardarValidacionInicial;
                    selectNaturalezaCuenta.onchange = guardarValidacionInicial;


                    function consultaDataInicial(){
                        var camposValidados = guardarValidacionInicial();
                        console.log(camposValidados);
                        if(camposValidados){  
                            mensajeErrorInicial.style.display = 'flex';
                            google.script.run.withSuccessHandler(function(result) {

                                google.script.run.withSuccessHandler(function(result) {
                                    console.log(result);
                                    if(result.length > 0){

                                        mensajeErrorInicial.style.display = 'none';
                                        containerBase.style.display = 'flex';
                                        containerAllSeleccion.style.display = 'flex';
                                        optionData.style.display = 'block';
                                        containerFiltrosSaldo.style.display = 'flex';
                                        tabla.innerHTML = '';
                                        resulAll = result;

                                        result.forEach(function(elemento) {
                                            btnConsulta.style.display = 'none';
                                            var fila = document.createElement('tr');
                                            var celda = document.createElement('td');
                                            celda.textContent = `${elemento.codigo} ${' '} ${elemento.nombre}`;
                                            celda.classList.add('celdaTabla');
                                            fila.appendChild(celda);
                                            fila.classList.add('filaTabla');
                                            fila.addEventListener('click', clickCell);
                                            tabla.appendChild(fila);

                                        });

                                    }
                                    

                                }).getDataCuentaContable();
                        
                            }).withFailureHandler(function(error) {
                                google.script.host.close();
                            }).consultaCuentasInicial();
                        }

                    }

                    document.getElementById('addAllCheckbox').addEventListener('change', function(e) {
                        if (e.target.checked) {
                            
                            var dataResult = [...resulAll];

                            selecciones = dataResult.map(function(elemento) {
                                return elemento.codigo + ' ' + elemento.nombre;
                            });
                            var cells = document.querySelectorAll('td');
                            for (var i = 0; i < cells.length; i++) {
                                cells[i].classList.add('selectedCelda');
                            }

                        } else {
                            selecciones = [];
                            var cells = document.querySelectorAll('td');
                            for (var i = 0; i < cells.length; i++) {
                                cells[i].classList.remove('selectedCelda');
                            }
                        }
                        selecciones = selecciones.map(function(seleccion) {
                            return seleccion.split(/\s(.+)/);
                        });
                        google.script.run.guardarSeleccionCuentaContable(selecciones);
                    });

                    if (optionChecked) {
                        selectOptionSend = optionChecked.value;
                        google.script.run.guardarSeleccionOpcionCuentaContable(selectOptionSend);
                    }

                    for(var i = 0; i < optionsExit.length; i++) {
                        optionsExit[i].addEventListener('change', function() {
                            selectOptionSend = this.value;
                            google.script.run.guardarSeleccionOpcionCuentaContable(selectOptionSend);
                        });
                    }

                    function clickCell(evento) {
                        var seleccion = evento.target.textContent;
                        var seleccionArray = seleccion.split('   ');

                        var isInArray = selecciones.some(function(elemento) {
                            return elemento.join('   ') === seleccionArray.join('   ');
                        });

                        if (isInArray) {
                            selecciones = selecciones.filter(function(elemento) {
                                return elemento.join('   ') !== seleccionArray.join('   ');
                            });
                            evento.target.classList.remove('selectedCelda');
                        } else {
                            selecciones.push(seleccionArray);
                            mensajeErrorSinConsulta.style.display = 'none';
                            evento.target.classList.add('selectedCelda');
                        }
                        console.log(selecciones,'selecciones');
                        google.script.run.guardarSeleccionCuentaContable(selecciones);
                    }

                    function sendDataSelected() {
                        if(selecciones.length === 0) {
                            mensajeErrorSinConsulta.style.display = 'flex';
                        }else{
                            contenedorGlobal.style.display = 'none';
                            contenedorLoading.style.display = 'flex';

                            google.script.run.withSuccessHandler(function(result) {
                                google.script.host.close();
                            }).withFailureHandler(function(error) {
                                google.script.host.close();
                            }).mostrarDatosCeldaCuentaContable();
                        }
                        
                    }

            </script>
    </body>
</html>


