<!DOCTYPE html>
<html>
    <head>
    <base target="_top">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>

            <section class="containerCatalogoBaseDocumentos">
                <section class="titleCatalogo">
                    <span>Selecciona el tipo de documento de compra y el rango de fecha de los registros que quieres listar </span>
                </section>
                <section class="observacionesInfo">
                    <h4>Para tener en cuenta</h4>
                    <ul>
                        <li>
                            Los tiempos de respuesta pueden variar segun la cantidad de registros.
                        </li>
                        <li>
                            Tus registros seran listados en orden descendente apartir de la celda activa seleccionada con sus respectivas columnas a derecha.
                        </li>
                        <li>
                            En la primera fila de tus registros seran agregados los encabezados de las columnas asignadas a los campos listados. 
                        </li>
                    </ul>
                </section>
                <div class="containerDocumento">
                    <label style="font-weight: 600; color: #5a5a5a; margin-right: 15px;" for="tipoDocumento">Tipo de documento*: </label>
                    <select name="tipoDocumento" id="tipoDocumento" class="opcionDocumento">
                        <option value="" disabled selected>Selecciona</option>
                        <option value="FC">Factura de compra</option>
                        <option value="NCC">Nota credito compra</option>
                        <option value="NDC">Nota debito compra</option>
                        <option value="REMC">Remision de compra</option>
                        <option value="OC">Orden Compra</option>
                        <option value="DREMC">Devoluciones de Remisiones de Compra</option>
                    </select>
                </div>

                <section style="width: 100%;">


                    <div class="containerOpcionesImportacion" style="margin-top: 15px;">
                        <span class="optionsMore" style="margin-bottom: 5px;"><b>Como quieres importar la información</b></span>
                        <div style="display: inline-flex; align-items: center;">
                            <section class="optionAllMore">
                                <span style="margin-right: 5px;">Todos los registros</span>
                                <label class="switch">
                                    <input type="checkbox" id="addAllCheckbox">
                                    <span class="slider"></span>
                                </label>
                            </section>
                            <section style="margin-left: 3%;">
                                <button type="button" class="btnFiltroFecha" id="btnFecha"  onclick="activarFiltrosFecha()">Rango fecha</button>
                            </section>
                            <section style="margin-left: 3%;">
                                <button type="button" class="btnFiltroFecha" id="btnNumero"  onclick="activarFiltrosNumero()">Rango número</button>
                            </section>
                            <section style="margin-left: 3%;">
                                <button type="button" class="btnFiltroFecha" id="btnPrefijo"  onclick="activarFiltrosPrefijo()">Prefijo</button>
                            </section>
                            <section style="margin-left: 3%;">
                                <button type="button" class="btnFiltroFecha" id="btnTercero"  onclick="activarFiltrosTercero()">Tercero</button>
                            </section>
                        </div>
                    </div>

                    <div class="mensajeErrorInicial">
                        <span>Por favor, espera estamos validando la cantidad de registros disponibles a importar</span>
                    </div>

                    <div class="containerTotalRegistros">
                        <span class="registros">Total registros disponibles: </span>
                        <span class="registros" style="padding: 5px 15px; border: 1px solid #1e458d; margin-left: 8px; border-radius: 5px;" id="registrosDocumento"> </span>
                    </div>

                    <div class="containerInfoTime">
                        <span>*Debes tener encuenta que el tiempo de importación puede variar entre 1 min - 15 min segun la cantidad de registros</span>
                    </div>

                </section>
                <section class="containerPaginacionDocumentos" id="filtrosFecha">

                    <div style="margin-right: 30px;">
                        <label for="registroInicial">Fecha inicial*:
                        <input type="date" name="registroInicial" id="registroInicial" min="2022-01-01" value="">
                        </label>
                    </div>
                    <div >
                        <label for="registroFinal">Fecha final*:
                        <input type="date" name="registroFinal" id="registroFinal" min="2022-01-01" value="">
                        </label>
                    </div>
                </section>

                <section class="containerPaginacionDocumentos" id="filtrosNumero">

                    <div style="margin-right: 30px;">
                        <label for="numeroInicial">Número inicial*:
                        <input type="number" name="numeroInicial" id="numeroInicial" min="1" value="">
                        </label>
                    </div>
                    <div >
                        <label for="numeroFinal">Número final*:
                        <input type="number" name="numeroFinal" id="numeroFinal" min="1" value="">
                        </label>
                    </div>
                </section>

                <section class="containerPaginacionDocumentos" id="filtrosPrefijo">

                    <div style="margin-right: 30px;">
                        <label for="prefijo">Prefijo*:
                        <input type="text" name="prefijo" id="prefijo" value="">
                        </label>
                    </div>
                </section>

                <section class="containerPaginacionDocumentos" style="display: flex !important;" id="filtrosTercero">
                    <div style="margin-right: 30px; display: inline-flex;">
                        <label style="color: #5a5a5a; margin-right: 15px;" for="tipoTercero">Tipo tercero*: </label>
                        <select name="tipoTercero" id="tipoTercero" class="opcionDocumento" style="width: 250px !important;">
                            <option value="" disabled selected>Selecciona</option>
                            <option value="empresa">Empresa</option>
                            <option value="proveedor">Proveedor</option>
                            <option value="comprador">Comprador</option>
                        </select>
                    </div>
                    <div style="display: inline-flex;">
                        <label for="tercero">Nombre*:
                        <input type="text" name="tercero" id="tercero" value="" style="width: 250px;">
                        </label>
                    </div>
                    
                </section>

                <section>
                    <div class="mensajeErrorDocumento">
                        <span>Por favor, completa los campos requeridos para continuar</span>
                    </div>
                </section>
                <section style="width: 100%;">
                    <div class="infoFiltrosAdicionales" id="infoFiltrosAdicionales">
                        <span>*Debes tener encuenta que la cantidad maxima para este tipo de consulta son 5000 registros</span>
                    </div>
                </section>

                <section class="containerEjemplo">
                    <span>Ejemplo:</span>


                </section>

                <button type="button" class="buttonImport" onclick="sendDataSelected()">Agregar</button>
                
            </section>

            <div id="loading" class="loading" style="display:none;">
                <div class="d-flex justify-content-center align-items-end">
                        <div class="spinner-grow" style="width: 1rem; height: 1rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                        <div class="spinner-grow " style="width: 2rem; height: 2em" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                        <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>   
                </div>
                <p style=" margin-top: 3vh; font-weight: 600; color: #0d95f0;">Cargando datos</p>
                <div style="width: 90%;">
                    <p style=" margin-top: 3vh; color: #0d95f0;text-align: center;">Recuerda que los tiempos pueden variar segun la cantidad de registros solicitados, por favor no cierres esta ventana mientras se realiza el proceso, se cerrara automaticamente al finalizar.</p>
                </div>

            </div>
        
            <script>

                    var contenedorGlobal = document.querySelector('.containerCatalogoBaseDocumentos');
                    var containerInfoFiltroAdicional = document.getElementById('infoFiltrosAdicionales');
                    var contenedorFiltroFecha = document.getElementById("filtrosFecha");
                    var contenedorFiltroNumero = document.getElementById("filtrosNumero");
                    var contenedorFiltroPrefijo = document.getElementById("filtrosPrefijo");
                    var contenedorFiltroTercero = document.getElementById("filtrosTercero");
                    var containerInfoTime = document.querySelector('.containerInfoTime');
                    var contenedorOpciones = document.querySelector('.containerOpcionesImportacion');
                    var buttonFiltros = document.querySelector('.btnFiltroFecha');
                    var containerBtnAll = document.querySelector(".optionAllMore");
                    var btnFecha = document.getElementById('btnFecha');
                    var btnNumero = document.getElementById('btnNumero');
                    var btnPrefijo = document.getElementById('btnPrefijo');
                    var btnTercero = document.getElementById('btnTercero');
                    var contenedorLoading = document.querySelector('.loading');
                    var selectDocument = document.getElementById("tipoDocumento");
                    var selectTipoTercero = document.getElementById("tipoTercero");
                    var registrosDocumento = document.getElementById("registrosDocumento");
                    var registroInicial = document.getElementById('registroInicial');
                    var registroFinal = document.getElementById('registroFinal');
                    var numeroInicial = document.getElementById('numeroInicial');
                    var numeroFinal = document.getElementById('numeroFinal');
                    var prefijoSelect = document.getElementById('prefijo');
                    var terceroSelect = document.getElementById('tercero');
                    var mensajeValidacionRegistros = document.querySelector(".mensajeErrorInicial");
                    var totalImportacion = document.querySelector('.containerTotalRegistros');
                    var buttonImportar = document.querySelector('.buttonImport');
                    var selectAll = document.getElementById('addAllCheckbox');
                    var mensajeError = document.querySelector('.mensajeErrorDocumento');
                    var seleccionPaginado = {};
                    var allRegistros = null;
                    var estadoRegistros = null;
                    
                    contenedorGlobal.style.display = 'flex';
                    contenedorFiltroFecha.style.display = 'none';
                    contenedorFiltroNumero.style.display = 'none';
                    contenedorFiltroPrefijo.style.display = 'none';
                    contenedorFiltroTercero.style.display = 'none';
                    contenedorOpciones.style.display = 'none';
                    containerInfoFiltroAdicional.style.display = 'none';

                    var encabezados = ['Id', 'Fecha', 'Prefijo', 'Número', 'Empresa', 'Proveedor', 'Comprador', 'Forma de Pago', 'Concepto'];
                    var datos = ['1', '2024-01-12', 'DVVP','42158', 'Compañia Electrodomesticos SAS', 'Company LTDA', 'William Diaz', 'Crédito', 'Factura de compra'];

                
                    var tabla = document.createElement('table');

                
                    var thead = document.createElement('thead');
                    var tr = document.createElement('tr');
                    for (var i = 0; i < encabezados.length; i++) {
                        var th = document.createElement('th');
                        th.textContent = encabezados[i];
                        th.classList.add('formatoTabla');
                        tr.appendChild(th);
                    }
                    thead.appendChild(tr);
                    tabla.appendChild(thead);

                    
                    var tbody = document.createElement('tbody');
                    tr = document.createElement('tr');
                    for (var i = 0; i < datos.length; i++) {
                        var td = document.createElement('td');
                        td.textContent = datos[i];
                        td.classList.add('formatoTablaContenido');
                        tr.appendChild(td);
                    }
                    tbody.appendChild(tr);
                    tabla.appendChild(tbody);

            
                    var seccion = document.querySelector('.containerEjemplo');
                    seccion.appendChild(tabla);


    
                    function guardarSeleccion() {

                        if((registroInicial.value && registroFinal.value && selectDocument.value) || (selectDocument.value && allRegistros) || (numeroInicial.value && numeroFinal.value && selectDocument.value) || (prefijoSelect.value && selectDocument.value) || (terceroSelect.value && selectTipoTercero.value && selectDocument.value)){
                            mensajeError.style.display = 'none';
                            var seleccionPaginado = {
                                tipoDocumento: selectDocument.value,
                                registroInicial: registroInicial.value ? registroInicial.value : null,
                                registroFinal: registroFinal.value ? registroFinal.value : null,
                                numeroInicial: numeroInicial.value ? numeroInicial.value : null,
                                numeroFinal: numeroFinal.value ? numeroFinal.value : null,
                                prefijo: prefijoSelect.value ? prefijoSelect.value : null,
                                terceroTipo: selectTipoTercero.value ? selectTipoTercero.value : null,
                                tercero: terceroSelect.value ? terceroSelect.value : null,
                            };

                            google.script.run.guardarSeleccionPaginadoDocumentosCompra(seleccionPaginado);
                            return true;
                        }else{
                            return false;
                        }

                    }

                    selectDocument.addEventListener('change', function() {
    
                        if (!selectDocument.value || selectDocument.value == null) {
                            mensajeError.style.display = 'block';
                        }else{
                            seleccionPaginado.tipoDocumento = selectDocument.value;
                            mensajeError.style.display = 'none';
                            registroInicial.value = null;
                            registroFinal.value = null;
                            numeroInicial.value = null;
                            numeroFinal.value = null;
                            prefijoSelect.value = null;
                            terceroSelect.value = null;
                            selectTipoTercero.value = null;
                    
                            google.script.run.withSuccessHandler(function() {

                                    contenedorOpciones.style.display = 'flex';

                            }).guardarSeleccionPaginadoDocumentosCompra(seleccionPaginado);
                        }
                    });

                    registroInicial.onchange = guardarSeleccion;
                    registroFinal.onchange = guardarSeleccion;
                    numeroInicial.onchange = guardarSeleccion;
                    numeroFinal.onchange = guardarSeleccion;
                    prefijo.onchange = guardarSeleccion;
                    tercero.onchange = guardarSeleccion;
                    selectTipoTercero.onchange = guardarSeleccion;
                    selectDocument.onchange = guardarSeleccion;
                    selectAll.onchange = guardarSeleccion;

                    function activarFiltrosFecha() {

                        if (contenedorFiltroFecha.style.display === 'none') {
                            contenedorFiltroFecha.style.display = 'inline-flex';
                            btnFecha.classList.add('btnFiltroActive');
                            btnNumero.disabled = true;
                            btnPrefijo.disabled = true;
                            btnTercero.disabled = true;
                            containerBtnAll.style.display = 'none';
                            containerInfoFiltroAdicional.style.display = 'block';
                        }
                        else {
                            contenedorFiltroFecha.style.display = 'none';
                            containerInfoFiltroAdicional.style.display = 'none';
                            btnFecha.classList.remove('btnFiltroActive');
                            registroInicial.value = null;
                            registroFinal.value = null;
                            containerBtnAll.style.display = 'inline-flex';
                            btnNumero.disabled = false;
                            btnPrefijo.disabled = false;
                            btnTercero.disabled = false;
                        }
                    }

                    function activarFiltrosNumero() {

                        if (contenedorFiltroNumero.style.display === 'none') {
                            contenedorFiltroNumero.style.display = 'inline-flex';
                            containerInfoFiltroAdicional.style.display = 'block';
                            btnNumero.classList.add('btnFiltroActive');
                            btnFecha.disabled = true;
                            btnPrefijo.disabled = true;
                            btnTercero.disabled = true;
                            containerBtnAll.style.display = 'none';
                        }
                        else {
                            contenedorFiltroNumero.style.display = 'none';
                            containerInfoFiltroAdicional.style.display = 'none';
                            btnNumero.classList.remove('btnFiltroActive');
                            numeroInicial.value = null;
                            numeroFinal.value = null;
                            containerBtnAll.style.display = 'inline-flex';
                            btnFecha.disabled = false;
                            btnPrefijo.disabled = false;
                            btnTercero.disabled = false;
                        }
                    }

                    function activarFiltrosPrefijo() {

                        if (contenedorFiltroPrefijo.style.display === 'none') {
                            contenedorFiltroPrefijo.style.display = 'inline-flex';
                            containerInfoFiltroAdicional.style.display = 'block';
                            btnPrefijo.classList.add('btnFiltroActive');
                            btnNumero.disabled = true;
                            btnFecha.disabled = true;
                            btnTercero.disabled = true;
                            containerBtnAll.style.display = 'none';
                        }
                        else {
                            contenedorFiltroPrefijo.style.display = 'none';
                            containerInfoFiltroAdicional.style.display = 'none';
                            btnPrefijo.classList.remove('btnFiltroActive');
                            prefijoSelect.value = null;
                            containerBtnAll.style.display = 'inline-flex';
                            btnNumero.disabled = false;
                            btnFecha.disabled = false;
                            btnTercero.disabled = false;
                        }
                    }

                    function activarFiltrosTercero() {

                        if (contenedorFiltroTercero.style.display === 'none') {
                            contenedorFiltroTercero.style.display = 'inline-flex';
                            containerInfoFiltroAdicional.style.display = 'block';
                            btnTercero.classList.add('btnFiltroActive');
                            btnNumero.disabled = true;
                            btnFecha.disabled = true;
                            btnPrefijo.disabled = true;
                            containerBtnAll.style.display = 'none';
                        }
                        else {
                            contenedorFiltroTercero.style.display = 'none';
                            containerInfoFiltroAdicional.style.display = 'none';
                            btnTercero.classList.remove('btnFiltroActive');
                            terceroSelect.value = null;
                            selectTipoTercero.value = null;
                            containerBtnAll.style.display = 'inline-flex';
                            btnNumero.disabled = false;
                            btnFecha.disabled = false;
                            btnPrefijo.disabled = false;
                        }
                    }

                    selectAll.addEventListener('change', function(e) {

                        mensajeError.style.display = 'none';
                        if (e.target.checked) {
                            mensajeValidacionRegistros.style.display = 'block';
                            // contenedorFiltroFecha.style.display = 'none';
                            // buttonFiltros.style.display = 'none';
                            btnFecha.disabled = true;
                            btnNumero.disabled = true;
                            btnPrefijo.disabled = true;
                            btnTercero.disabled = true;
                            seleccionPaginado.registrosCompletos = true;
                            google.script.run.guardarSeleccionPaginadoDocumentosCompra(seleccionPaginado);
                            allRegistros = true;
                            google.script.run.withSuccessHandler(function() {
                                google.script.run.withSuccessHandler(function(result) {
                            
                                    mensajeValidacionRegistros.style.display = 'none';
                                    registrosDocumento.textContent = result;
                                    totalImportacion.style.display = 'flex';
                                    containerInfoTime.style.display = 'inline-flex';
                                    estadoRegistros = true;
                                }).getDataTotalRegistrosCompra();
                            }).validacionInicialCompra();
                        } else {
                            // buttonFiltros.style.display = 'block';
                            totalImportacion.style.display = 'none';
                            containerInfoTime.style.display = 'none';
                            btnFecha.disabled = false;
                            btnNumero.disabled = false;
                            btnPrefijo.disabled = false;
                            btnTercero.disabled = false;
                            seleccionPaginado.regitrosCompletos = null;
                            google.script.run.guardarSeleccionPaginadoDocumentosCompra(seleccionPaginado);
                            allRegistros = null;
                        }

                    });

                    function sendDataSelected() {
                        var validacionCampos = guardarSeleccion();

                        if (validacionCampos) {
                            contenedorGlobal.style.display = 'none';
                            contenedorLoading.style.display = 'flex';
                            google.script.run.withSuccessHandler(function(result) {
                                google.script.host.close();
                            }).withFailureHandler(function(error) {
                                google.script.host.close();
                            }).mostraDocumentosCompra();
                        }else{
                            mensajeError.style.display = 'block';
                        }
                    }

            </script>
    </body>
</html>